.header{
    position: absolute;
    right: 100px;
    top: 20px;
    color: white;
    .menu{
        width: 480px;
        height: 650px;
        background-color:#1468b3;
        border-radius: 25px;
        position: relative;
    }
}